

#container1{
	width:100%;
	text-align:center;
}


#map {
    height: 100%;
}

html,
body {
    height: 600px;
    width: 600px;
    margin: 0;
    padding: 0;
}
.nav-wrapper{
	background-color: rgba(0,104,55,1);
}
.location{
	width: 200px;
}

.cuisine {
	width: 200px;
}


.btn-flat{
	background-color: rgba(0,104,55,1);
	color: white;
	float: right;
}


#layer_1{
	padding: 20px;
}
.svg{
	width:200px;
	height:200px;
}
.svg-container{
	padding: 20px;
}

.hidden{
	display: none;
}

#topics_dropdown {
	text-align: center;
	width: 132px;
	max-height: 177px;
}

input {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
}

label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
}


[type="checkbox"]+label {
	height: 40px;
}

